body{
    overflow: hidden;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}
div {
    margin: 0px;
}
p {
    margin:0px;
}
h1{
    font-size: 75px;
}
.navbar{
    position: fixed;
    display:inline-block;
    background-color: #33443c;
    color: white;
    font-size: 20px;
    width: 100vw;
    padding: 10px;
    margin:0px;
}
.nav-links {
    list-style-type: none;
    margin: 0px 50px 0px 30px;
    padding: 0;
}
.nav-link-li{
    float: right;
}
.nav-link-a {
    display:block;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-name {
    float: left;
}

#home-body {
    display:flex;
}
.about-me{
    margin:0px;
    padding: 50px;
    background-color: rgba(50, 98, 14, 40%);
    height:100vh;
}
.passion-statement{
    max-width: 600px;
}